In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [3]:
df.shape

(60943, 12)

In [4]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [5]:
#Question 2
#Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

df.groupby("Element")["Y2017"].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [6]:
#Question 3
#Answer the following questions based on the African food production dataset provided by the FAO website already provided

#What is the total sum of Wine produced in 2015 and 2018 respectively?

#Hint:

#Perform a groupby sum aggregation on ‘Item’

df.groupby("Item")["Y2015"].sum()

Item
Alcohol, Non-Food        2180.00
Alcoholic Beverages     98783.72
Animal Products         11811.73
Animal fats            200675.72
Apples and products     10559.15
                         ...
Vegetables, Other      158104.08
Vegetal Products       107064.17
Wheat and products     234710.51
Wine                     4251.81
Yams                   203151.78
Name: Y2015, Length: 119, dtype: float64

In [7]:
df.groupby("Item")["Y2018"].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

In [8]:
#Question 5
#What is the total number of unique countries in the dataset?


df["Area"].nunique()

49

In [9]:
#Question 4
#Which year had the least correlation with ‘Element Code’?

df.corr()

<ipython-input-9-187258b1c1dd>:4: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [10]:
#Question 9
#What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

#mean
df["Y2017"].mean().round(2)

140.92

In [11]:
#standard deviation
df["Y2017"].std().round(2)

1671.86

In [12]:
#Question 13
#Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

df.groupby("Element")['Y2014',"Y2015","Y2016","Y2017","Y2018"].sum()

<ipython-input-12-ea8a05fd4e8c>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby("Element")['Y2014',"Y2015","Y2016","Y2017","Y2018"].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [13]:
#Question 14
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

df.groupby("Area")["Y2017"].sum().nsmallest(7)

Area
Ethiopia PDR                 0.00
Sudan (former)               0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

In [14]:
#Question 17
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
df.groupby("Area")["Y2017"].sum().nlargest(1)

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

In [15]:
#Question 20
#What is the total number and percentage of missing data in 2014 to 3 decimal places?

df["Y2014"].isnull().sum()

1589

In [16]:
#to find for percentage in 3 dp

percentage_missing = (df["Y2014"].isnull().sum()/df["Y2014"].sum())*100
percentage_missing.round(3)

0.02

In [21]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6
#the result will give TypeError

TypeError: ignored

In [22]:
S = [['him', 'sell'], [90, 28, 43]]
print(S[0][1][1])

e

In [23]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
print(x)

8